@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2E948A;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 9vw;
    padding-left: 2%;
}

nav {
    text-align: center;
    width: 40%;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
margin-right: 10%;
margin-left: 10%;
}

section {
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    background-color:#419488;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.menu-item {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    color: #FDFDFD;
    text-decoration: none;
    padding: 5%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.banner-botao {
    display: flex;
    flex-direction: column;
}

.títulos-página {
    font-size: 4.4vw;
    color:#FF4081;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.link-banner {
    text-decoration: none;
    padding: 5px;
    border-color: #FF4081;
    border-width: 2px;
    border-style: solid;
    border-radius: 62px;
    color: #FF4081;
    font-size: 1.2vw;
    margin-top: 30px;
    width: 19vw;
    height: 9vh;
}

.menu-footer {
    text-align: left;
    }

.menu-link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.botao-footer p {
    display: flex;
    width: 289px;
    height: 51px;
    border: 2px;    
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-radius: 62px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.botao-link {
    text-decoration: none;
    color: #FFFFFF;
}

.descrição-banner {
    font-size: 2vw;
    color:#555555;
}

.blog-botao {
    display: flex;
    justify-content: center;
}

.blog.pdescriptions {
    font-size: 18px;
    margin-top: 0;
}

.container-formulário {
    display:flex;
    flex-direction: column;
    width: 50%;
}

.titulos-blog {
    color: #FF4081;
    font-weight: bold;
    font-size: 35px;
}

.pcursos-cursos {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 10%;
    padding-bottom: 5%;
}

.pcurso-imgs {
    height: 381px;
    width: 380px;
}

.pcursos-link {
    text-decoration: none;
    color: #FDFDFD;
    padding: 5px;
    border-color: #419488;
    border-width: 2px;
    border-style: solid;
    border-radius: 62px;
    background-color: #419488;
    font-size: 1vw;
    width: 17vw;
    height: 9vh;
}

.blog-botao-link {
    text-decoration: none;
    padding: 5px;
    border-color: #FF4081;
    border-width: 2px;
    border-style: solid;
    border-radius: 62px;
    color: #FF4081;
    font-size: 1.5vw;
    margin-top: 30px;
    width: 19vw;
    height: 9vh;
}

.blog-posts {
    font-weight: bold;
    color: #009688;
    margin-bottom: 0;
}

.blog-imgs {
    height: 259px;
    width: 518px;    
}

.pinicial-imgs {
    width: 21vw;
    height: 42vh;
}

.pinicial-cursos {
    text-align: center;
}

.pinicial-cursos-botao-link {
    text-decoration: none;
    color: #FDFDFD;
    padding: 5px;
    border-color: #FF4081;
    border-width: 2px;
    border-style: solid;
    border-radius: 62px;
    background-color: #FF4081;
    font-size: 1vw;
    margin-top: 30px;
    width: 17vw;
    height: 9vh;
}

.pinicial-chamadas {
font-size: 1.5vw;
color: #FF4081;
font-weight: bold;
}

.pinicial-descrição {
    font-size: 0.9vw;
    width: 20vw;
    height: 10vh;
}

.pblog-descrição {
    font-size: 0.9vw;
    width: 30vw;
    height: 10vh;
}

.articles-depoimentos {
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
}

.article-blog {
display: flex;
justify-content: space-between;
gap: 4%;
}

.pinicial-depoimentos-names {
    font-weight: bold;
}

.chamadas-sections {
    color: #009688;
    font-size: 2.7vw;
}

.curso-aulas {
    display: flex;
    flex-direction: column;
}

.videos {
    width: 40%;
}

.video-aulas {
    display: flex;
    align-content: space-between;
    gap: 10%;
}

.aulas-descrição {

}

#ilustra-banner {
    width: 36vw;
    height: 82vh; 
}

#banner {
display: flex;
flex-direction: row;
justify-content: space-between;
} 

#cursos {
    display: flex;
    justify-content: center;
    gap: 5%;
    background-color: #F6F6F6;  
}

#blog {
    background-color: #F6F6F6;  
}

#blog-titulo {
    color: #009688;
    font-size: 47px;
    font-weight: 700;
}

#blog-descrição {
    size: 20px;
    font-weight: 300;
}

#blog-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

#blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

#contato {
    font-size: 40px;
    color: #FF4081;
}

#contato-form {
    display: flex;
    justify-content: row;
    justify-content: space-between;
}

#entrar {
    border-color: #FF4081;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    background-color:#FF4081;
    color: #FFFFFF;
    font-size: 1.5vw;
    width: 108px;
    height: 32px;
}

#pcursos-center {
    padding-top: 5%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #C4C4C4;
    border-width: 5px;
}

#date-post {
    text-align: center;
    font-size: 18px;
    color: #9D9D9D;
    margin-bottom: 5%;
    margin-top: 0;
    padding-top: 0;
}

#titulo-post {
    color: #FF4081;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

#imagem-post {
    width: 100%;
}

#va-border {
    padding-top: 5%;
    padding-bottom: 5%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #C4C4C4;
    border-width: 2px;
}